<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SupportQ</title>

  <!-- Bootstrap core CSS -->
  <!-- link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" -->

  <!-- Custom styles for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'supportq/supportq', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>

<body>
  <div id="admin" class="left column">
    <div class="top-left">Admin</div>
    <div class="bottom">
      <div>
        <ol>
          <% Participant.all.each do |part| %>
            <li><%= part.name %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
  <div id="agent" class="left column">
    <div class="top-left">Agent</div>
    <div class="bottom">
      <div>
        <ol>
          <% Conversation.all.each do |conv| %>
            <li><%= conv.created_at %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
  <div id="chat" class="right column">
    <div class="top-right">Hello</div>
    <div class="bottom">
      <div>
        <ol>
          <%= render @messages %>
        </ol>
      </div>
    </div>
  </div>
</body>

</html>
