<!DOCTYPE html>
<html class="">
  <head>
    <title>SupportQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'supportq/supportq', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

<body class="">
  <div class='container-fluid'>
    <div class='row'>
      <nav class='col-md-2 d-none d-md-block bg-light sidebar'>
        <div class='sidebar-sticky'>
          <ul>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
          </ul>
        </div>
      </nav>
      <main class='col-md-9 ml-sm-auto col-lg-10 px-4'>
        <div id='chat-window' class='row'>
          <%= yield %>
        </div>
        <div class="row fixed-bottom p-0 m-0">
          <div class='col-md-2'>&nbsp;</div>
          <div class='col'>
          <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0 m-0">
            <%= yield :footer %>
          </div>
        </nav>
      </main>
    </div>
  </div>
</body>
</html>
